.UserLogOut {
    font-size: 1.5vmin;
    color: var(--text-light);
    text-align: left;
    }
    
    .UserLogOut .email {
      font-size: smaller;
    }

    .UserLogOut .button {
      border: .1rem solid black;
      transition: background-color 0.1s, box-shadow 0.1s;
    }

    .UserLogOut button:hover {
        background-color: black;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: whitesmoke;
    }
    