.UserLogOut {
    font-size: 1.5vmin;
    color: var(--text-light);
    text-align: left;
    }
    
    .UserLogOut .email {
      font-size: smaller;
    }
    .UserLogOut .button {
      transition: background-color 0.3s, box-shadow 0.3s;
      margin-left: -.08rem;
    }

    .UserLogOut .button:hover {
      background-color: black;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      color: whitesmoke;
    }
    