.MenuListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    border-radius: 1vmin;
    font-size: 4vmin;
  }
  
  .MenuListItem .image {
    height: 8vw;
    width: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .7rem solid black;
    border-radius: 5vmin; 
    overflow: hidden;
    transition: transform .2s
  }
  .MenuListItem .image:hover {
    transform: scale(1.6);
  }
  
  .MenuListItem .buy {
    display: flex;
    flex-direction: column;
  }

  .MenuListItem .buy button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.1s;
    border: .1rem solid white;
  }
  
  .MenuListItem .buy button:hover {
    border: .1rem solid black;
  }
  
  .MenuListItem .buy span {
    font-size: 1.7vw;
    text-align: center;
    color: black;
  }
  
  .MenuListItem .name {
    font-size: 2vw;
    text-align: center;
    color: black;
    margin-bottom: 3.3rem;
  }