.CategoryList {
    color: var(--text-light);
    list-style: none;
    padding: 0;
    font-size: 1.7vw;
    }
    
    .CategoryList li {
    padding: .6vmin;
    text-align: left;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
    }
    
    .CategoryList li:hover:not(.active) {
    cursor: pointer;
    }