.CategoryList {
    color: black;
    list-style: none;
    padding: 0;
    font-size: 1.6vw;
    }
    
    .CategoryList li {
    padding: .6vmin;
    text-align: left;
    border-radius: .5vmin;
    margin-bottom: .5vmin;
    transition: background-color 0.1s, box-shadow 0.1s;
    }
    
    .CategoryList li:hover:not(.active) {
    cursor: pointer;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    }